$color-primary: #ffffff;
$color-secondary: #333333;
$color_accent: #ffd241;

$font_accent: 'Montserrat', sans-serif;
$font_details: 'Open Sans', sans-serif;

$mobile: 320px;
$iPhone11ProX: 375px;
$mobileL: 425px;
$iPadmini: 768px;
$desktop2: 1024px;
$desktopM: 1280px;
$desktop: 1440px;

$cubic: cubic-bezier(0.17, 0.67, 0.83, 0.67);
