<section class="about-section container">
  <div class="about-background-grey"></div>
  <img
    class="about-background-raccoonMobile"
    srcset="./images/about/header2@2x.jpg 2x"
    src="./images/about/header2.jpg"
    alt="Raccoon"
    width="420"
    height="auto"
  />
  <img
    class="about-background-raccoon"
    srcset="./images/about/header1@2x.jpg 2x"
    src="./images/about/header1.jpg"
    alt="Raccoon"
    width="943"
    height="539"
  />

  <div class="about-block-text">
    <h1 class="about-title">About Us</h1>
    <p class="about-paragraf">
      Pain this or — man some again born nor from explorer fault. Is advantage, all again human who
      example exercise, master no. Truth or you was enjoy find procure with, there, pursues master
      the and take find great can, man one pursue can those pain consequences.
    </p>
  </div>
  <div class="about-background-yellow"></div>
  <div class="about-background-white"></div>
  <svg class="about-arrow-left" width="23px" height="14px">
    <use href="./images/sprite.svg#about-arrowleft"></use>
  </svg>
  <svg class="about-arrow-right" width="23px" height="14px">
    <use href="./images/sprite.svg#about-arrowright"></use>
  </svg>
  <svg class="about-scroll" width="22px" height="39px">
    <use href="./images/sprite.svg#about-scroll"></use>
  </svg>
</section>
