<section>
  <header class="header-section container">
    <nav class="header-nav">
      <div class="header-block">
        <a href="index.html">
          <img
            class="header-logo"
            src="./images/logoHeader.png"
            alt="Logo"
            width="135"
            height="49"
          />
        </a>
        <button
          class="header-button"
          aria-controls="header-menu-container"
          aria-expanded="false"
          type="button"
          data-menu-button
        >
          <svg width="22" height="22" aria-label="Переключатель мобильного меню">
            <use class="header-icon-close" href="./images/sprite.svg#header-close"></use>
            <use class="header-icon-burger" href="./images/sprite.svg#header-burger"></use>
          </svg>
        </button>
      </div>
      <div class="header-menu-container" id="header-menu-container" data-menu>
        <ul class="header-menu">
          <li class="header-list">
            <a href="index.html" class="header-link">MAIN</a>
          </li>
          <li class="header-list">
            <a href="index.html" class="header-link">ABOUT US</a>
          </li>
          <li class="header-list">
            <a href="index.html" class="header-link">CATALOGS</a>
          </li>
          <li class="header-list">
            <a href="index.html" class="header-link">PRODUCTS</a>
          </li>
          <li class="header-list">
            <a href="index.html" class="header-link">CONTACTS</a>
          </li>
        </ul>

        <ul class="header-block-icon">
          <li class="header-block-list">
            <a href="index.html">
              <svg width="45px" height="24px">
                <use href="./images/sprite.svg#header-language"></use>
              </svg>
            </a>
          </li>
          <li class="header-block-list">
            <a href="index.html">
              <svg width="24px" height="24px">
                <use href="./images/sprite.svg#header-shopping-bag"></use>
              </svg>
            </a>
          </li>
          <li class="header-block-list">
            <a href="index.html">
              <svg width="24px" height="24px">
                <use href="./images/sprite.svg#header-login"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</section>
