<section class="history-section container">
  <div class="history-block-text">
    <h2 class="history-title">History</h2>
    <p class="history-paragraf">
      Ever truth denouncing desires consequences teachings explain born trivial which in human no —
      trivial fault, example rationally that which are praising rationally is was. Advantage not
      itself it, obtain the there to him all are born all who from. Must human or master, avoids
      undertakes desires exercise in born, us is, in produces was or dislikes in, was all undertakes
      mistaken denouncing must. Will some it can — know circumstances mistaken take and expound born
      painful account how there advantage those account idea or produces.
    </p>
  </div>
  <!-- Секция визуализация истории -->
  <div class="history-visualization">
    <div class="history-gray-arrows"></div>
    <h3 class="history-date-1">2011</h3>
    <h3 class="history-date-2">2011</h3>
    <h3 class="history-date-3">2012</h3>
    <h3 class="history-date-4">2017</h3>
    <h3 class="history-date-5">2019</h3>
    <div class="history-timeline">
      <div class="history-line-iPhone"></div>
      <div>
        <img class="history-line-1" src="./images/history/history-line-1.svg" alt="" />
        <svg class="history-yellowcircle-1">
          <use href="./images/sprite.svg#history-yellowcircle"></use>
        </svg>
      </div>
      <div>
        <img class="logoHistory" src="./images/history/logoHistory.svg" alt="Logo" />
        <p class="history-paragraf-1">
          Pain this or — man some again born nor from explorer fault.
        </p>
      </div>
      <div>
        <img class="history-line-2" src="./images/history/history-line-2.svg" alt="" />
        <svg class="history-yellowcircle-2">
          <use href="./images/sprite.svg#history-yellowcircle"></use>
        </svg>
      </div>
      <div>
        <p class="history-paragraf-2">
          Advantage not itself it, obtain the there to him all are born all who from.
        </p>
      </div>
      <div>
        <img class="history-line-3" src="./images/history/history-line-3.svg" alt="" />
        <svg class="history-yellowcircle-3">
          <use href="./images/sprite.svg#history-yellowcircle"></use>
        </svg>
      </div>
      <div>
        <p class="history-paragraf-3">
          Must human or master, avoids undertakes desires exercise in born, us is, in produces was
          or dislikes in, was all undertakes mistaken denouncing must.
        </p>
      </div>
      <div>
        <img class="history-line-4" src="./images/history/history-line-4.svg" alt="" />
        <svg class="history-yellowcircle-4">
          <use href="./images/sprite.svg#history-yellowcircle"></use>
        </svg>
      </div>
      <div>
        <p class="history-paragraf-4">
          Ever truth denouncing desires consequences teachings explain born trivial which in human.
        </p>
      </div>
      <div>
        <img class="history-line-5" src="./images/history/history-line-5.svg" alt="" />
        <svg class="history-yellowcircle-5">
          <use href="./images/sprite.svg#history-yellowcircle"></use>
        </svg>
      </div>
      <div>
        <p class="history-paragraf-5">
          Truth or you was enjoy find procure with, there, pursues master the and take find great
          can, man one pursue can those pain consequences.
        </p>
      </div>
    </div>
  </div>
</section>
